.single-homework{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1% 0;
    color: white;
}

.homework-data {
    width: 45%;
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.detailed-homework-data {
    width: 90%;
    padding: 1%;
    border-radius: 5px;
}

.detailed-homework-comments {
    width: 100%;
    padding: 1%;
    max-height: 60vh;
    overflow: auto;
}

.homework-file {
    width: 50%;
    height: 90%;
    border: 1px solid gray;
    border-radius: 5px;
}