.homework-container {
    min-height: 50vh;
    padding: 1%;
}

.homework-card:hover {
    box-shadow: 2px 2px 10px rgba(144, 141, 141, 0.324);
    transform: scale(1.05);
    transition: transform 250ms ease-in-out;
}