.app {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.vanta-canvas {
    z-index: -200 !important;
    height: 100% !important;
    width: 100% !important;
    top: 0% !important;
    left: 0% !important;
}

.Toastify__progress-bar {
    visibility: hidden;
}


