.loader-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgb(13, 14, 13);
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}