.fade-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.fade-container .logo {
    cursor: pointer;
    width: 35%;
    height: 55%;
}