.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( #40404013, #40404077, #404040cb);
    font-size: 13px;
    color: white;
}

.footer h6 {
    font-weight: 200;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer .profile:hover a, .footer .profile:hover i, .footer a:hover {
    color: #CCB38D;
}

.footer .contact {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.nina-profile, .natalia-profile {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nina-profile i, .natalia-profile i{
    margin-right: 5%;
}

.footer .connect {
    margin-right: 1%;
}

.copyright {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.copyright i{
    margin-right: 1%;
}