.comment .profile-img {
    width: 8%;
    height: 7vh;
    margin-top: 1.5%;
}

.comment .author {
    width: 20%;
    margin-left: 1%;
}

.comment .content {
    width: 57%;
    overflow: auto;
}

.comment .date {
    width: 15%;
}

