.headmaster-container {
    width: 100%;
    margin: 7.6% 0%;
    padding: 1%;
}

.classes {
    height: 79%;
}

.classes h4 {
    color: white;
}

.members-container {
    min-height: 30vh;
    margin: 5% 0%;
    padding: 5%;
    border-radius: 4px;
    
}

.members {
    display: flex;
    justify-content: space-around;
}

.members i {
    cursor: pointer;
}

.search-container {
    position: relative;
}

.search {
    display: flex;
    justify-content: space-between;
}

.search .input {
    width: 80%;
}

.search .search-btn {
    width: 10%;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 72.4%;
    border: 1px solid #dcdcdc;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 70%;
    overflow: auto;
}

.search-suggestion {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid #dcdcdc;
    margin: 0;
    height: 25px;
    cursor: pointer;
}

.search-suggestion:hover {
    background-color: #dcdcdc;
}