.home {
    width: 100%;
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;

}

.text h2, h4 {
    font-weight: 200;
}

.button {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.icons {
    width: 95%;
    height: 45vh;
    padding: 0% 2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons div {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.icons div img {
    width: 40%;
    height: 40%;
    padding-top: 3%;
}

.icons div h4 {
    width: 100%;
    height: 20%;
}

.icons div p {
    width: 100%;
    height: 40%;
}

.use {
    margin: 3% 0%;
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.use .list {
    height: 100%;
    padding: 0;
}

.use h2 {
    margin: 5% 0%;
}

.use ul {
    font-size: 17px;
}

.use ul li {
    margin: 3%;
}

.use img {
    width: 50%;
}

