.header {
    width: 100%;
    height: 4rem;
}

.header .logo {
    margin-left: 15px;
    cursor: pointer;
}

.header-user-name {
    width: 17rem;
    color: white;
}

.navbar-toggler-icon {
    background-image: url("https://icon-library.com/images/white-menu-icon-png/white-menu-icon-png-18.jpg") !important;
    transform: scale(1.5);
    width: 2em;
    height: 2em;
    margin-right: 15px;
}

.offcanvas.show {
    background-color: #212529
}

.header-img {
    width: 18%;
    height: 7vh;
    padding: 2px;
    margin-right: 17px;
}

.btn-close {
    background-image: url("https://cdn-icons-png.flaticon.com/512/458/458595.png") !important;
}

.offcanvas {
    background-color: #212529 !important
}

.nav-link:hover {
    text-decoration: underline !important;
}