.profile-card-img-container {
    width: 100px;
    border-radius: 50%;
}

.profile-card-img-container .profile-img {
    width: 100%;
    border-radius: 50%;
}

.profile-card__input {
    display: none;
}

.profile-edit-mode {
    width: 26.5rem;
}